# Server
PORT=3001
SERVICE_IP=0.0.0.0

# MySQL
DBHOST=localhost
DBPORT=3306
DBDB=argos_db
DBUSER=argos_user
DBPASS=

# CORS
CORS_FRONT_ORIGIN=http://localhost:3000

# Firebase Admin SDK
FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_JSON={}
